@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

/* buttons */

.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border: none;
}

.main-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.additional-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.add-to-favourite-button {
  font-size: 16px;
  line-height: 20px;
}

.favourites-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #7db54f;
}

.clear-button {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

/* inputs */

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.control-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* pages */

.page-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-list {
  width: 420px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.navigation-user {
  width: 310px;
  margin-left: auto;
}

.logo-sedona-link {
  width: 140px;
  margin-right: 28px;
}

.main-index {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.favourites {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.hero {
  background: url("../images/hero-border.svg") no-repeat center bottom, url("../images/hero-background.jpg") no-repeat left center #7d96a7;
  text-align: center;
}

.greeting {
  text-align: center;
}

.greeting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.greeting-description {
  font-size: 22px;
  line-height: 26px;
}

.advantage-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-item:first-child,
.advantage-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantage-item:nth-child(2),
.advantage-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-picture {
  display: block;
}

.invintation {
  text-align: center;
}

.invintation-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invintation-description {
  font-size: 22px;
  line-height: 26px;
}

.recomendation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.recomendation-item {
  width: 400px;
}


.recomendation-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-selection {
  text-align: center;
}

.hotel-selection-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-selection-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.main-index .subscribe {
  color: #ffffff;
  background: url("../images/subscribe-background.jpg") no-repeat #82b3d3;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 70px;
  justify-content: space-between;
}

.footer-social {
  width: 165px;
}

.footer-designed {
  width: 115px;
}

.contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.hotel-filters {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 70px;
  color: #ffffff;
  background: url("../images/catalog-background.jpg") no-repeat #82b3d3;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrums-link {
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filters-left-column {
  width: 370px;
}

.filters-right-column {
  width: 550px;
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.results {
  padding: 0 70px;
}

.results-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hotel-card-list {
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
