@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Buttons */

.button {
  display: block;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.main-button {
  background-color: #756157;
}

.main-button:hover {
  background-color: #615048;
}

.main-button:focus {
  background-color: #615048;
}

.main-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.main-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.main-button.disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
  outline: none;
}

.additional-button {
  background-color: #82b3d3;
}

.additional-button:hover {
  background-color: #68a2ca;
}

.additional-button:focus {
  background-color: #68a2ca;
}

.additional-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.additional-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.additional-button.disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
  outline: none;
}

/* Inputs */

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 12px 20px;
  font-weight: 700;
  border: none;
}

.field:placeholder-shown {
  color: rgba(0, 0, 0, 0.60)
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field:disabled {
  background-color: #e5e5e5;
}

/* Pages */

/* Common header */

.page-header {
  padding: 0 70px;
}

.navigation {
  position: relative;
  display: flex;
  padding-left: 168px;
}

.logo-sedona-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.logo-sedona-link:hover {
  opacity: 0.8;
}

.logo-sedona-link:focus {
  opacity: 0.8;
}

.logo-sedona-link:active {
  opacity: 0.3;
}

.logo-sedona-link.disabled {
  opacity: 0.1;
  cursor: default;
  outline: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link.disabled {
  opacity: 0.1;
  color: #000000;
  cursor: default;
  outline: none;
}

.current-link::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  content: "";
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  justify-content: flex-end;
  max-width: 268px;
  margin-left: auto;
  align-items: flex-start;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-button {
  padding: 14px 0 14px 20px;
}

.want-button {
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

.favourites {
  position: absolute;
  left: 20px;
  top: 11px;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


/* Index page */

.main-index {
  flex-grow: 1;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Hero */

.hero {
  padding: 51px 371px 82px;
  background: url("../images/hero-border.svg") no-repeat center bottom -1px, url("../images/hero-background.jpg") no-repeat left center #7d96a7;
  background-size: 100% auto, cover;
}

.hero-photo {
  display: block;
  margin: 0 auto;
}

/* Greeting */

.greeting {
  padding: 69px 274px;
  text-align: center;
}

.greeting-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.greeting-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Advantages */

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantage-item {
  width: 400px;
  padding: 112px 85px;
}

.advantage-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-description {
  margin: 0;
  color: #333333;
}

.advantage-list .item-with-picture {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  padding: 0;
}

.item-with-picture .advantage-title,
.item-with-picture .advantage-description {
  color: #ffffff;
}

.advantage-wrapper {
  padding: 102px 85px;
}

.advantage-picture {
  display: block;
}

.item-with-picture:last-child .advantage-picture {
  order: -1;
}

.advantage-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.30);
}

.item-with-picture .advantage-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}


/* Invitation */

.invitation {
  padding: 64px 348px;
  text-align: center;
}

.invitation-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Recomendation */

.recomendation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.recomendation-item {
  width: 400px;
  padding: 183px 85px 81px;
}

.recomendation-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recomendation-description {
  margin: 0;
  color: #333333;
}

.recomendation-item:nth-child(1) {
  background-image: url("../images/recomendation/housing.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: 50% 81px;
}

.recomendation-item:nth-child(2) {
  background-image: url("../images/recomendation/eating.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: 50% 82px;
}

.recomendation-item:nth-child(3) {
  background-image: url("../images/recomendation/souvenir.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
  background-position: 50% 79px;
}

/* Hotel selection*/

.hotel-selection {
  padding: 96px 304px;
  text-align: center;
}

.hotel-selection-slogan {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-selection-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  margin: 0 auto;
  max-width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* Subscribe */

.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.main-index .subscribe {
  background: url("../images/subscribe-background.jpg") no-repeat #82b3d3;
  background-size: cover;
}

.main-index .subscribe-title,
.main-index .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
}

.subscribe-input:placeholder-shown {
  font-weight: 400;
}

.subscribe-button {
  display: inline-block;
  max-width: 232px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/* Common footer */

.page-footer {
  display: flex;
  background-color: #ffffff;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

/* Social  */

.footer-social {
  width: 150px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  position: relative;
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
 }

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link.disabled {
  opacity: 0.1;
  cursor: default;
  outline: none;
}

.social-link.disabled .social-icon {
  fill: #68a2ca;
}

/* Designed by */

.footer-designed {
  width: 115px;
}

.designed-link {
  display: block;
  color: #000000;
}

.designed-link:hover {
  color: #756157;
}

.designed-link:focus {
  color: #756157;
}

.designed-link:active {
  color: rgba(117, 97, 87, 0.3)
}

.designed-link.disabled {
  opacity: 0.1;
  color: #000000;
  cursor: default;
  outline: none;
}


/* Phone */

.contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.contacts-address-phone:hover {
  color: #756157;
}

.contacts-address-phone:focus {
  color: #756157;
}

.contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3)
}

.contacts-address-phone.disabled {
  opacity: 0.1;
  color: #000000;
  cursor: default;
  outline: none;
}

/* Catalog page */

.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Section with heading, breadcrumbs and filters */

.hotel-filters {
  box-sizing: border-box;
  padding: 35px 70px 70px;
  color: #ffffff;
  background: url("../images/catalog-background.jpg") no-repeat #82b3d3;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  min-width: 19px;
  height: 21px;
  padding-right: 7px;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url("../images/icons/breadcrumbs.svg");
  margin-right: 10px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 1;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link.disabled {
  opacity: 0.1;
  cursor: default;
  outline: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  width: 150px;
  margin-right: auto;
}

.catalog-filter-group:nth-child(3) {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input:hover + .control-mark,
.control-input:hover ~ .control-label {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:active + .control-mark,
.control-input:active ~ .control-label {
  opacity: 0.3;
}

.control-input:disabled + .control-mark,
.control-input:disabled ~ .control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/tick/checkbox.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.range-inputs-wrapper {
  display: flex;
  margin-bottom: 44px;
}

.range-label {
  position: relative;
  display: flex;
  margin-right: 2px;
}

.range-input {
  width: 143px;
  padding-right: 40px;
  border: none;
}

.min-range-input {
  border-radius: 4px 0 0 4px;
}

.max-range-input {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input,
.range-input:hover,
.range-input:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.price-text {
  position: absolute;
  right: 20px;
  top: 12px;
  color: #000000;
  line-height: 24px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.range-toggle:disabled {
  background-color: #5c5c5c;
  outline: none;
  cursor: default;
}

.min-toggle {
  left: 0;
  top: -8px;
}

.max-toggle {
  right: 0;
  top: -8px;
}

.buttons-group {
  width: 191px;
  padding-top: 56px;
}

.apply-button {
  width: 191px;
  margin-bottom: 32px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
}

.clear-button {
  width: 191px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border-radius: 4px;
}

.clear-button:hover {
  opacity: 0.6;
}

.clear-button:focus {
  outline: 3px solid #83b3d3;
}

.clear-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.clear-button:disabled {
  color: #ffffff;
  opacity: 0.1;
  cursor: default;
}

/* Result and sorting forms row */

.results {
  padding: 50px 70px 60px;
}

.results-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.results-text {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  max-width: 350px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 292px;
  margin-right: 70px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  padding-right: 52px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: #000000;
  opacity: 0.3;
}

.represent-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.represent-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
}

.represent-item:nth-child(1) .represent-link {
  background-image: url("../images/mode/tile.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.represent-item:nth-child(2) .represent-link {
  background-image: url("../images/mode/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.represent-item:nth-child(3) .represent-link {
  background-image: url("../images/mode/list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.represent-current {
  outline: #000000;
}

.represent-link:hover {
  outline: #000000;
}

.represent-link:focus {
  outline: #68a2ca;
}

.represent-link:active {
  outline: #000000;
}

.represent-link.disabled {
  opacity: 0.1;
  cursor: default;
  outline: none;
}

/* Hotel cards */

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  gap: 20px;
  padding: 0;
  padding-bottom: 41px;
  margin-bottom: 40px;
  list-style-type: none;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  color: #333333;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  grid-column: 1/-1;
}

.hotel-card-image {
  display: block;
}

.hotel-card-link:hover {
  color: #756157;
}

.hotel-card-link:focus {
  color: #756157;
}

.hotel-card-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-card-link.disabled {
  color: #000000;
  cursor: default;
  outline: none;
  opacity: 0.1;
}

.hotel-card-link:hover .hotel-card-image {
  opacity: 0.8;
}

.hotel-card-link:focus .hotel-card-image {
  opacity: 0.8;
}

.hotel-card-link:active .hotel-card-image {
  opacity: 0.5;
}

.hotel-card-type {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  justify-self: end;
}

.more-info-button {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px;
}

.add-to-favourite-button {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px;
}

.favourites-button {
  width: 140px;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  background-color: #7db54f;
}

.favourites-button:hover {
  background-color: #6c9e42;
}

.favourites-button:focus {
  background-color: #6c9e42;
}

.favourites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favourites-button:disabled {
  background-color: #e5e5e5;
  cursor: default;
  color: #ffffff;
}

.rating {
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.stars {
  margin: 0;
  height: 37px;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  font-size: 24px;
  background-size: 1em auto;
}

.stars-1 {
  width: 1em;
}

.stars-2 {
  width: 2em;
}

.stars-3 {
  width: 3em;
}

.stars-4 {
  width: 4em;
}

.stars-5 {
  width: 5em;
}


/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 60px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  padding: 11px 20px;
  text-align: center;
}

.pagination-clear {
  display: block;
  min-width: 60px;
  height: 60px;
  font-size: 22px;
  line-height: 26px;
  background-color: transparent;
  padding: 17px 22px;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.pagination-link:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link.disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
  outline:none;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

/* Modal */

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  width: 718px;
  margin: auto;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.close-icon {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #82b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active .close-icon {
  opacity: 0.3;
}

.modal-close-button:disabled {
  background-color: #e5e5e5;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.booking-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-field {
  padding: 12px 20px;
  border: none;
}

.modal-field:placeholder-shown {
  color: rgba(0, 0, 0, 0.60);
}

.date-wrapper {
  display: grid;
  grid-template-columns: auto 440px;
  align-items: center;
}

.date-field {
  padding-right: 48px;
  border-radius: 4px;
  background-image: url("../images/icons/date.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.date-info {
  grid-column: 2;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding: 4px 20px 0 20px;
}

.invalid-date {
  color: #ff5757;
}

.tourists-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tourists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 247px;
}

.kids-tourists {
  width: 242px;
}

.button-wrapper {
  display: flex;
}

.quantity-button {
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.minus-button {
  border-radius: 4px 0 0 4px;
}

.plus-button {
  border-radius: 0 4px 4px 0;
}

.icon-space {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.minus-plus-icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.quantity-button .minus-plus-icon {
  fill: rgba(117, 97, 87, 0.30);
}

.quantity-button:hover .minus-plus-icon {
  fill: #000000;
}

.quantity-button:focus {
  outline: none;
}

.quantity-button:focus .icon-space {
  outline: 3px solid #82b3d3;
}

.quantity-button:active .minus-plus-icon {
  fill: #000000;
  opacity: 0.2;
}

.quantity-button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

.quantity-button:disabled .minus-plus-icon {
  fill: rgba(117, 97, 87, 0.30);
}

.tourists-quantity {
  width: 31px;
  padding: 14px 2px;
  line-height: 20px;
  text-align: center;
}

.tourists-quantity::-webkit-outer-spin-button,
.tourists-quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tourists-quantity {
  appearance: none;
  -moz-appearance: textfield;
}

.modal-search-button {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 77px;
  border-radius: 10px;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;
  background-color: #333333;
  color: #ffffff;
  width: 256px;
  padding: 15px 18px 18px 20px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  position: absolute;
  margin-top: 15px;
  transform: translateX(-50%) translateX(13px);
  z-index: 1;
  display: none;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/icons/tooltip-triangle.svg");
  width: 19px;
  height: 9px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68a2ca;
}

.tooltip-toggle:active {
  opacity: 0.6;
}

.tooltip-toggle:disabled {
  background-color: #e5e5e5;
  cursor: default;
  outline: none;
  opacity: 1;
}

.tooltip-toggle:disabled + .tooltip-text {
  display: none;
}
